/* element main styling */
.heading {
  width: fit-content;
  display: inline;
  margin: 0px;
  position: absolute;
  left: 10px;
}
.nav-btn {
  width: fit-content;
  padding: 3px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgrey;
}
textarea {
  resize: none;
  height: 100%;
  width: 100%;
}
header {
  padding: 10px;
  background-color: #eeeeee;
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}
/* additional styles */

.border-basic {
  border: 1px solid black;
  margin-left: 5px;
}
.nav-btn:hover {
  background-color: darkgray;
}
.active {
  background-color: lightblue;
}

/* positioning */

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-content-top {
  align-content: flex-start;
}
.grid {
  display: grid;
}
.grid-col-4-fr {
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
.float-left {
  float: left;
}

/* sizing */

.full-size {
  height: 100%;
  width: 100%;
}
