h1,
p {
  font-family: sans-serif;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.container {
  position: relative;
  height: 550px;
  width: 80%;
  border: 10px double gray;
  background-color: black;
  margin: 50px auto;
}
#shape {
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 200px;

  border-width: 10px;
  border-color: white;
  border-style: double;
}
